*, *::after ,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    background-blend-mode: darken;
    height: 100vh;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

body.morning{
    background:url('../img/morning-image.png') , rgba(0, 0, 0, 0.4);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

body.evening{
    background:url('../img/evening-image.png') , rgba(0, 0, 0, 0.4);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.d-none{
    display: none !important;
}

.container{
    margin-inline: auto;
    max-width: 1440px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content{
    padding: 32px 25px 40px 25px;
}

.quotes-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    button{
        border: none;
        background-color:transparent;
        color: rgba(255,255,255, .7);
        font-size: 17px;
        cursor: pointer;
        padding: 5px;
    }
}

.quote-container{
    blockquote{
        font-size: 12px;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 8px;
        margin-right: 12px;
    }

    h3{
        font-size: 12px;
        font-weight: 700;
        line-height: 22px;
    }
}

.current-time-container{
    div{
        margin-bottom: 16px;
    }
    button{
        margin-top: 24px;
    }
}

.greeting-container{
    display: flex;
    align-items: center;
    gap: 16px;

    span{
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 3px;
    }
}

.time-container .time{
    font-size: 90px;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: -2.5px;
}

.time-container .time-zone{
    font-size: 15px;
    font-weight: 100;
    line-height: 28px;
}

.location{
    font-size: 15px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 3px;
}

.more-btn{
    position: relative;
    width: 115px;
    border: none;
    background-color: #fff;
    padding: 13px 0px 13px 17px;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 3.75px;
    color: rgba(0, 0, 0, .6);
    border-radius: 20px;
    text-align: left;
}

.arrow{
    position: absolute;
    text-align: center;
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(48, 48, 48, 1);
    color: #fff;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    letter-spacing: 0px;
}

/* Details Container */

.details-container:not(.active){
    display: none;
}

.details-container.active{
    padding: 48px 26px;
    background:#c7c8c8;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 16px;

    div{
        display: flex;
        justify-content: space-between;
    }
    h5{
        font-size: 10px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 2px;
        color: rgba(48, 48, 48, 1);
        text-transform: uppercase;
    }

    p{
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        text-align: right;
        color: rgba(48, 48, 48, 1);
    }
}

body.evening .details-container.active{
    background:rgba(0, 0, 0, 0.75);
    h5{
        color: #fff;
    }

    p{
        color: #fff;
    }
}

/* Media Queries */

/* Tablet */

@media(width >= 768px){
    .content{
        padding: 80px 130px 64px 64px;
    }
    .quote-container{
        blockquote ,h3{
            font-size: 18px;
            line-height: 28px;
        }
    }

    .current-time-container div{
        margin-bottom: 0px;
    }
    .greeting-container{
        span{            
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 3.5999999046325684px;
        }
    }
    .time-container .time{
        font-size: 175px;
        line-height: 175px;
        letter-spacing: -4.375px;
    }
    .time-container .time-zone{
        font-size: 32px;
        font-weight: 300;
        line-height: 28px;
    }
    .location{
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 3.5999999046325684px;
    }
    .more-btn{
        border-radius: 25px;
        margin-top: 80px !important;
        width: 146px;
        
        span{
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 5px;
            margin-left: 6px;
        }
        i{
            padding: 14px;
            right: 8px;
        }
    }

    .details-container.active {
        padding: 119px 166px 119px 64px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 48px;
        column-gap: 80px;
        
        div{
            flex-direction: column;
            h5{
                font-size: 13px;
            }
            p{
                text-align: left;
                font-size: 40px;
                line-height: 48px;
            }
        }
    }
}


 /* Desktop */

@media(width >= 1110px){
    .content{
        padding: 56px 165px 98px 165px;
    }
    .quotes-container{
        justify-content: flex-start;
    }
    .quote-container{
        width: 540px;
        blockquote ,h3{
            font-size: 18px;
            line-height: 28px;
        }
    }

    .current-time-container{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .current-time-container div{
        margin-bottom: 0px;
    }
    .greeting-container{
        span{            
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 4px;
        }
    }
    .time-container .time{
        font-size: 200px;
        line-height: 200px;
        letter-spacing: -5px;
    }
    .time-container .time-zone{
        font-size: 40px;
        font-weight: 300;
        line-height: 28px;
    }
    .location{
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 4.7999999046325684px;
    }
    .more-btn{
        margin-top: 0px;
    }

    .details-container.active {
        padding: 74px 165px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 48px;
        column-gap: 80px;
        
        div{
            flex-direction: column;
            h5{
                font-size: 15px;
            }
            p{
                text-align: left;
                font-size: 56px;
                line-height: 67px;
            }
        }
    }
}